name: Test | rw_git

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@9a04e6d73cca37bd455e0608d7e5092f881fd603

      - name: Install dependencies
        run: dart pub get

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.0.5'
          channel: 'stable'
          
      - name: Run tests
        run: flutter test --coverage
        
      - name: Install lcov
        run: sudo apt-get install -y lcov
        
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.2.1
        with:
          file: coverage/lcov.info
          token: "${{ secrets.CODECOV_TOKEN }}"
          
      - name: Remove generated coverage files
        run: lcov --remove coverage/lcov.info
